@page
@model Horatiu_Muresan_MediiProiect.Pages.Produse.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Produs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produs.produsNume" class="control-label"></label>
                <input asp-for="Produs.produsNume" class="form-control" />
                <span asp-validation-for="Produs.produsNume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.produsDescriere" class="control-label"></label>
                <input asp-for="Produs.produsDescriere" class="form-control" />
                <span asp-validation-for="Produs.produsDescriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.produsData" class="control-label"></label>
                <input asp-for="Produs.produsData" class="form-control" />
                <span asp-validation-for="Produs.produsData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.produsExp" class="control-label"></label>
                <input asp-for="Produs.produsExp" class="form-control" />
                <span asp-validation-for="Produs.produsExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.AutomatID" class="control-label"></label>
                <select asp-for="Produs.AutomatID" class ="form-control" asp-items="ViewBag.AutomatID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Produs.LocatieID" class="control-label"></label>
                <select asp-for="Produs.LocatieID" class ="form-control" asp-items="ViewBag.LocatieID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
